@use '../custom' as *;

//Legales

p.text-legales {
    font-size: 0.8rem;
}
//Fin legales


.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    gap: 30px;
    width: 100%;
    min-width: 375px;
    height: 80px;
    background: $g4;
}

.text-bottom {
    width: 100%;
    min-width: 327px;
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: $negro;
}
//Footer


.footer-bottom {
    background: #F6F6F6;
    margin-top: auto;
}

.logo-footer{
    filter: grayscale(100%);
}

a.link-footer{
    display: block;
	position: relative;
	padding: 0.2em 0;
    color: $blanco;
}

a.link-footer:hover{
    display: block;
	position: relative;
	padding: 0.2em 0;
    color: $negro;
}

a.link-footer:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $r1;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a.link-footer:hover:after { 
    width: 100%; 
    left: 0; 
  }

//Fin Footer