@use '../custom' as *;


/*mega menu*/
.dropdown-hover {
    float: left;
    overflow: hidden;
}

.dropdown-hover-content {
    display: none;
    position: absolute;
    //margin-top: 2px;
    background-color: #fff;
    left: 0;
    right: 0;
    padding: 30px;
    z-index: 4;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #1e2125;
    background-color: #fff;
}

.dropdown-hover-content .row {
    width: 100%;
}

.dropdown-hover-content a.dropdown-item {
    font-size: 14px;
    white-space: normal;
}

.dropdown-hover:hover .dropdown-hover-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



h5 .acordeon{
    position: relative;
    color: $negro;
    z-index: 9;
    padding-bottom: 4px;
    margin-bottom: 16px;
    /*&::before {
        content: "";
        position: absolute;
        left: 40px;
        bottom: -2px;
        width: 79px;
        height: 4px;
        -webkit-transform: skew(0deg) translateX(-50%);
        transform: skew(0deg) translateX(-50%);
        background: $secundario;
        z-index: -9;
    }*/
}

.header--title-container {
    position: absolute;
    width: 90%;
    top: 250px;
    left: center;
    margin-left: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    z-index: 1000;
}

.header--title-container .header--button {
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 12px 24px;
    gap: 8px;
    width: 163px;
    height: 48px;
    background: $r4;
    border-radius: 8px;
}

.header--title-containers {
    position: absolute;
    width: 90%;
    top: 190px;
    left: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.header--buttons {
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 12px 24px;
    gap: 8px;
    width: 163px;
    height: 48px;
    background: $r4;
    border-radius: 8px;
}

.button-planes {
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 12px 24px;
    gap: 8px;
    min-width: 120px;
    height: 48px;
    background: $r4;
    border-radius: 8px;
}

.p-planes {
    display: flex;
    flex-direction: column;
    min-width: 327px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: $blanco;
}